body
{
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  margin: 0;
  padding:0;
}
.imageback
{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: -11111;
    display: block;
}
.icon
{
    margin-left: 5%;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 50;
}
@media screen and (max-width:414px)
{
    .icon
{
    margin-left: 5%;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 50;
}
}

/*Scrolldown button*/
.arrow {
	 opacity: 0;
	 position: absolute;
	 left: 50%;
	 top: 105%;
	 transform-origin: 50% 50%;
	 transform: translate3d(-50%, -50%, 0);
}
 .arrow-first {
	 animation: arrow-movement 2s ease-in-out infinite;
}
 .arrow-second {
	 animation: arrow-movement 2s 1s ease-in-out infinite;
}
 .arrow:before, .arrow:after {
	 background: #fff;
	 content: '';
	 display: block;
	 height: 3px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 30px;
}
 .arrow:before {
	 transform: rotate(45deg) translateX(-23%);
	 transform-origin: top left;
}
 .arrow:after {
	 transform: rotate(-45deg) translateX(23%);
	 transform-origin: top right;
}
 @keyframes arrow-movement {
	 0% {
		 opacity: 0;
		 top: 100%;
	}
	 70% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}
@media screen and (max-width:414px)
{
    .arrow {
	 opacity: 0;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform-origin: 50% 50%;
	 transform: translate3d(-50%, -50%, 0);
}
}
.about
{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	color: rgba(0, 0, 0, 0.795);
	margin-bottom: 2%;
  margin-top: 3%;
}
.hr
{
	width: 10%;
	background-color: rgba(0, 0, 0, 0.795);
	border: 1px solid rgba(0, 0, 0, 0.795);
	margin: auto;
	margin-bottom: 1.5%;
}
.pcontent
{
	text-align: center;
	margin: auto;
	margin-left: 8%;
	margin-right: 8%;
  font-family: 'Poppins', sans-serif;
}
/* Product card */
/*Start*/


  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
	margin-top: 5%;
	margin-left: 5%;
  
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }
  
  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 


  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #3651e9;
  display: block;
  margin-top: 5px;
   } 

    @media screen and (max-width:414px)
  {

    .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
	margin-top: 5%;
	margin-left: 12%;
  
  }
      .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }
  
  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 


  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #3651e9;
  display: block;
  margin-top: 5px;
   } 
  }
   /*End*/
.content55 
{
	position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
   
   
}
.hcontent
{
	color: rgba(0, 0, 0, 0.795);
  margin-left:5%;
  margin-top:5%;
}
.allarrow
{
 color: rgb(38, 84, 102);
}
.detail
{
  columns: 2;
  column-width: 300px;
  margin: auto;
  display: inline-block;
  justify-content: center;
 
}
@media screen and (max-width:768px)
{
        .content55 
    {
        position: absolute;
        top: 25%;
        left: 70%;
        transform: translate(-50%, -50%);
        margin-top: 18%;
        font-family: 'Nunito Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
    
    
    }
      .hcontent
    {
        opacity: 0;
    }
    .allarrow
    {
    opacity: -1;
    }
    .detail
    {
    columns: 2;
    column-width: 300px;
    margin: auto;
    display: inline-block;
    justify-content: center;
    line-height: 16px;
    margin-top: 130%;
    
    }

}
@media screen and (max-width:1024px)
{
        .content55 
    {
        position: absolute;
        left: 70%;
        transform: translate(-50%, -50%);
        margin-top: 1.5%;
        font-family: 'Nunito Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
    
    
    }
      .hcontent
    {
        opacity: 0;
    }
    .allarrow
    {
    opacity: -1;
    }
    .detail
    {
    columns: 2;
    column-width: 300px;
    margin: auto;
    display: inline-block;
    justify-content: center;
    line-height: 18px;
    margin-top: 130%;
    
    }

}
@media screen and (max-width:414px)
{
    .content55 
{
	position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
   
   
}
.hcontent
{
	color: rgba(0, 0, 0, 0.795);
    margin-left:5%;
    margin-top:80%;
    font-size: 15px;
    opacity: -1;
}
.allarrow
{
 opacity: -1;
}
.detail
{
  columns: 2;
  column-width: 300px;
  margin: auto;
  display: inline-block;
  justify-content: center;
  line-height: 20px;
  margin-top: 130%;
 
}
}
/*Timeline Start*/
.row
{
  margin-top:15%;
  width: 200%;
  margin-left: -50%;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 1px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left:-8px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
@media screen and (max-width:414px)
{
    .row
{
  margin-top:15%;
  width: 100%;
  margin-left: 1%;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 1px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left:-8px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
}
/*Timeline End*/
 .about1
{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	color: rgba(0, 0, 0, 0.795);
	margin: auto;
  padding-top: 12%;
  margin-bottom: -8%;
}
@media screen and (max-width:414px)
{
     .about1
{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	color: rgba(0, 0, 0, 0.795);
	margin: auto;
    margin-top: 165%;
    margin-bottom: -15%;
}
}
/* skills bar start*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    margin: 0px;
    padding: 0;
}

@media screen and (max-width:414px)
{
    .container2
    { 
        max-width: 200px;
        margin: auto;
        font-family: 'Raleway', sans-serif;
        display: block;
    }
    #left {
        margin-left: 3%;
       
    }

    #right {
        
        margin-right: 3%;
    }
}

#left {
    float: left;
}

#right {
    float: right;
}

.container2
{
 
    max-width: 800px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.container2.h1 {
    color: #fff;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.skills-bar-container2 {
    position: relative;
    width: 40%;
    min-width: 350px;
    margin: 5% auto;
    list-style: none;
}

.skills-bar-container2 li {
    background: #666666;
    position: relative;
    width: 100%;
    height: 3px;
    margin-bottom: 35px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.skills-bar-container2 label {
    color: rgba(0, 0, 0, 0.795);
    position: relative;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 500;
}

.progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#progress-htmlcss {
    -webkit-animation-name: progress-htmlcss;
    animation-name: progress-htmlcss;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-jsjq {
    -webkit-animation-name: progress-jsjq;
    animation-name: progress-jsjq;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-jsp {
    -webkit-animation-name: progress-jsp;
    animation-name: progress-jsp;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#progress-java {
    -webkit-animation-name: progress-java;
    animation-name: progress-java;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-csharp {
    -webkit-animation-name: progress-csharp;
    animation-name: progress-csharp;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-sql {
    -webkit-animation-name: progress-sql;
    animation-name: progress-sql;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.progressblue {
    background-color: #70C1B3;
}

@-webkit-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-jsp
 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@-webkit-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@-webkit-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-webkit-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


@-moz-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-jsp {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@-moz-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@-moz-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@-moz-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


@keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-jsp {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}

@keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
#progress-basketball {
    -webkit-animation-name: progress-basketball;
    animation-name: progress-basketball;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-basketball {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@-moz-keyframes progress-basketball {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes progress-basketball {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
#progress-gym {
    -webkit-animation-name: progress-gym;
    animation-name: progress-gym;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-gym {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
@-moz-keyframes progress-gym {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
@keyframes progress-gym {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
#progress-trackfield {
    -webkit-animation-name: progress-trackfield;
    animation-name: progress-trackfield;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-trackfield {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@-moz-keyframes progress-trackfield {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes progress-trackfield {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}


#progress-coffee {
    -webkit-animation-name: progress-coffee;
    animation-name: progress-coffee;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-coffee {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@-moz-keyframes progress-coffee {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes progress-coffee {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}


#progress-drawing {
    -webkit-animation-name: progress-drawing;
    animation-name: progress-drawing;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-drawing {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@-moz-keyframes progress-drawing {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
@keyframes progress-drawing {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}


#progress-photo {
    -webkit-animation-name: progress-photo;
    animation-name: progress-photo;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}
@-webkit-keyframes progress-photo {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@-moz-keyframes progress-photo {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes progress-photo {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
/*skills bar end*/

/*photo grid start*/

@media screen and(max-width:414px)
{
    .wrapper3{
        width: 80%;
    }
}


.container3 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container3 > div > img {
    width: 115%;
    height: 100%;
    object-fit: cover;
		
}

/* Grid */
.container3 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 125px;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Media Queries */

@media screen and (min-width: 1024px){
	.wrapper3{
		width: 960px;
		margin: 0 auto;
	}
}
/*photo grid  end*/

/*card start*/
article{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
    text-align: center;
}

.container8{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container8 .card8{
    position: relative;
    cursor: pointer;
}

.container8 .card8 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container8 .card8 .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container8 .card8:hover .face.face1{
    background: #3151e0;
    transform: translateY(0);
}

.container8 .card8 .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container8 .card8:hover .face.face1 .content{
    opacity: 1;
}

.container8 .card8 .face.face1 .content img{
    max-width: 100px;
}

.container8 .card8 .face.face1 .content h3{
    
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container8 .card8 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    
}

.container8 .card8:hover .face.face2{
    transform: translateY(0);
}

.container8 .card8 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container8 .card8 .face.face2 .content a{
   
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: rgb(129, 129, 129);
    padding: 5px;
    border: 1px solid rgb(129, 129, 129);
}

.container8 .card8 .face.face2 .content a:hover{
    background: rgb(129, 129, 129);
    color: #fff;
}

@media screen and (max-width:414px)
{
 

            .container8{
                width: 150px;
                position: relative;
                display: block;
                justify-content:center;
                margin-right: 300%;
                margin-left: -50%;
            }

            .container8 .card8{
                position: relative;
                cursor: pointer;
            }
}
@media screen and (max-width:768px)
{
 

            .container8{
                width: 150px;
                position: relative;
                display: block;
                justify-content:center;
                margin-right: 300%;
                margin-left: -50%;
            }

            .container8 .card8{
                position: relative;
                cursor: pointer;
            }
}
/*card end*/
/* contact start*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

 .btn-container {
	 padding: 100px;
      font-family: 'Montserrat', sans-serif;
}
 .btn {
	 position: relative;
	 display: block;
	 max-width: 300px;
	 padding: 10px 20px;
	 color: #6270c1;
	 font-size: 24px;
	 text-align: center;
	 text-decoration: none;
	 border: 3px solid #868686;
	 overflow: hidden;
	 transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
	 z-index: 1;
}
 .btn.center {
	 margin: 0 auto;
}
 .btn:after {
     margin: auto;
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #131313;
	 z-index: -1;
	 transform: scaleX(0);
	 transition: transform 300ms ease-out 200ms;
}
 .btn:hover {
	 color: white;
	 border-color: #b9b9b9;
	 box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}
 .btn:hover:after {
	 transform: scaleX(1);
	 transform-origin: 50% 50%;
	 transition: transform 300ms ease-out;
}
 
 /* contact end*/
 /*footer*/
 .footer
 {
     background-color: rgba(0, 0, 0, 0.13);
 }
 
 h5
 {
     font-family: 'Roboto', sans-serif;
     margin: auto;
     text-align: center;
 }
 .footercontent
 {
     font-family: 'Caveat', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;
     text-align: center;
     margin: auto;
 }
 p
 {
     text-align: center;
     margin: auto;
 }


