.name
{
position: absolute;
top: 50%;
left: 30%;
transform: translate(-50%, -50%);
font-family: 'Roboto', sans-serif;
font-size: 60px;
color: rgba(0, 0, 0, 0.795);
letter-spacing: 3px;
}
.typing
{
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0.4em 0;
color: rgba(0, 0, 0, 0.795);
font-size: 60px;
position: absolute;
top: 35%;
left: 30%;
transform: translate(-50%, -50%);
}

.txt-rotate
{
  color: rgb(38, 84, 102);
}

@media screen and (max-width:414px)
{
  .name
  {
    font-size: 20px;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width:414px)
{
  .typing
    {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.795);
    position: absolute;
    margin-top: 25%;
    font-size: 25px;
    margin-left: 30%;
    width: 100%;
    }
    .txt-rotate
  {
    color: rgb(38, 84, 102);
    font-size: 25px;
    
  }
}
